<h2>User info</h2>
<table class="table">
  <%= image_tag user.get_profile_image %>
  <tbody>
    <tr>
      <th class="name">name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th class="introduction">introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
  </table>
    <div class="row">
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-wrapper col-10 mx-auto" do %>
        <p><i class="fas fa-user-cog"></i></p>
      <% end %>
    </div>
