<h2>User info</h2>
<img src="/assets/no_image.jpg" alt="">
<table class="table">
  <tbody>
    <tr>
      <th class="name">name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th class="introduction">introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
  </table>
    <div class="row">
      <a class="btn btn-outline-secondary btn-wrapper col-10 mx-auto btn-block edit_user_id">
        <i class="fas fa-user-cog"></i>
      </a>
    </div>
